*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", monospace;
    color: #ffbcda;
    background-color: #201e2d;
    line-height: 1.5;
}

img,
picture {
    max-width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
a {
    transition: background 0.2s, color 0.2s;
}
/* END OF BOILERPLATE STYLES */

#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

#title {
    font-size: 3.5rem;
}

#calculator-card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}